// COLORS
$primary-color: #0a192f;
$secondary-color: #233554;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$mid-green-text: #02aab0;
$dark-blue-text: #272341; // For Headings

// FONT SIZE
$small-font-size: 1.15rem;
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
